<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xstudioo.appMunicipio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8jnzQGlYSeSXJZVwVgQERcTTeoOthPTc"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity android:name="com.xstudioo.appMunicipio.Edit"
                  android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xstudioo.appMunicipio.MainActivity" />
        </activity>
        <activity
            android:name="com.xstudioo.appMunicipio.Detail"
            android:label="@string/title_activity_detail"
            android:parentActivityName="com.xstudioo.appMunicipio.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xstudioo.appMunicipio.MainActivity" />
        </activity>
        <activity android:name="com.xstudioo.appMunicipio.AddNote"
                  android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xstudioo.appMunicipio.MainActivity" />
        </activity>
        <activity android:name="com.xstudioo.appMunicipio.MainActivity"
                  android:theme="@style/AppTheme">

        </activity>
        <activity android:name="com.xstudioo.appMunicipio.Ecra_inicialActivity"
                  android:theme="@style/AppTheme"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.xstudioo.appMunicipio.LoginActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name="com.xstudioo.appMunicipio.RegisterActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name="com.xstudioo.appMunicipio.Mapa_activity"
            android:theme="@style/AppTheme">

        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

</manifest>